@mixin styleButton {
    background-color: $button-bg;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
  }

@mixin tableStyle{
  border-collapse: collapse;
  border-radius: $b-radius;
}

@mixin tdStyle{
  border: 1px solid black;
  padding: 4px 2px;
  background: $bg-white;
  color: $bg-dark;
  font-size: 14px;
}