*{
    padding: 0;
    margin: 0;
    color:$bg-white;
  }
  
  .wrapper{
    max-width: 1140px;
    margin: 0 auto;
  }

  .btn{
    @include styleButton;
  }
  
  .btn:hover{
    -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
  
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  body{
    background: $bg-dark;
    .header{
        padding: 20px;
        display: flex;
        flex-direction: column;
        
        &__sidebar{
            display: flex;
            align-items: center;
        }
        &__logo{
          width: 180px;
        }
        &__buttons{
            width: 35%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        &__linka{
            cursor: pointer;
            color:$bg-white;
            text-decoration: none;
            margin: 10px 0;
        }
        &__linka:hover{
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            color: $button-bg;            
        }
        &__settings{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 0 0 0 auto;
            width: 20%;
        }
        &__set-img{
            width: 25px;
            cursor: pointer;
            -webkit-transition: -webkit-transform .8s ease-in-out;
            transition: transform .8s ease-in-out;
          }
          &__set-img:hover{
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
    }
    .main{
        padding: 20px;
        min-height: calc(100vh - 240px);
        
    }
    .footer{
        display: flex;
        flex-direction: row-reverse;
        padding: 20px;

        &__content{
            color:$bg-white;
        }
        &__link{
            color:$bg-white;
            text-decoration: none;
        }
        &__link:hover{
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            color: $button-bg;
        }
    }
  }
