.content-tournaments{
    display: flex;
    flex-direction: column;
    background: $bg-secondary;
    padding: 5px;
    border: $b-radius;
    &__search-box{
        color:$bg-white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }
    &__search-form{
        display: flex;
        flex-direction: column;
    }
    &__search-input{
        color: $bg-secondary;
        height: 25px;
        outline: none;
        border: none;
    }
    &__search-input>option{
        color:$bg-secondary
    }
    &__search-input::placeholder{
        color: rgb(160, 160, 160);
        font-style: italic;
        font-size: 10px;
        padding: 0 0 0 10px
    }
    &__table{
        border-collapse: collapse;
        border-radius: $b-radius;
        tr{
            display: grid;
            grid-template-columns: 10% 5% 10% 15% 15% 10% 10% 10% 10% 5% ;
            text-align: center;
        }
        td,th{
            @include tdStyle
        }
        
    }
}